.header_div
{
    background:darkgray;
    color: black;
}
.copy_right_footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: darkgray;
    color: white;
    line-height: 3;
    font-size: 20px;
}
body
{
    text-align: center;
    font-family: 'Hubballi', cursive;
    background: #fcb1e8;
}
.header_div p
{
    font-family: 'Hubballi', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
}
.main_div button
{
    font-family: 'Hubballi', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
}